/* colors */
$color-dark       : #000;
$color-dark-grey  : #161616;
$color-mid-grey   : #252525;
$color-light-grey : #313131;

$color-white      : #fff;

$color-mid-blue   : #054086;
$color-dark-blue  : #043672;

/* grid */
$base-width       : 973px;

$max-width        : 1400px;
$min-width        : 800px;

$aside-width      : 200px;

$gutter-width     : 10px;

$wrapper-padding  : 5px;

$footer-height    : 102px;
$footer-margin    : 22px

/* fonts */